*:focus {
  outline: none;
}

html,
body,
.app {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

body {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  margin: 0;
  padding: 12px;
  transition: background 0.3s, color 0.3s;
  user-select: none;
}
button:active {
  background: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
}
button i.material-icons {
  vertical-align: middle;
}

.toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}
.toolbar .name {
  flex-grow: 1;
  padding: 0 8px;
  user-select: none;
}
.toolbar .buttons {
  flex-shrink: 0;
}
.toolbar .buttons button {
  float: left;
}

.joystick {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: none;
  flex-direction: column;
  flex-shrink: 0;
  height: 50%;
}
.joystick.visible {
  display: flex;
}

.joystick-area {
  aspect-ratio: 1/1;
  background: rgba(0, 0, 0, 0.12);
  height: 100%;
  margin: 32px;
  position: relative;
  touch-action: none;
}

.joystick-area::before,
.joystick-area::after {
  background: rgba(0, 0, 0, 0.12);
  content: "";
  position: absolute;
}

.joystick-area::before {
  height: 2px;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  z-index: 1;
}

.joystick-area::after {
  height: 100%;
  left: calc(50% - 1px);
  top: 0;
  width: 2px;
  z-index: 2;
}

.joystick-half-range {
  border: 2px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  height: 50%;
  left: 25%;
  position: absolute;
  top: 25%;
  width: 50%;
  z-index: 3;
}

.joystick-handle {
  background: #2196F3;
  border-radius: 50%;
  cursor: pointer;
  height: 64px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  z-index: 4;
}
.joystick-handle.moving {
  background: #4CAF50;
}

.terminal {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-width: 1px 0;
  flex-grow: 1;
  overflow: auto;
  padding: 4px 0;
}
.terminal div {
  color: #9E9E9E;
  line-height: 1;
  padding: 4px 8px;
  word-break: break-word;
}
.terminal div.error {
  color: #F44336;
}
.terminal div.incoming {
  color: #4CAF50;
}
.terminal div.outgoing {
  color: #2196F3;
}

.message-form {
  display: flex;
  flex-shrink: 0;
}
.message-form input {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  flex-grow: 1;
  font: normal 16px/1.5 "Noto Sans Mono", monospace;
  padding: 0 8px;
}
.message-form input::placeholder {
  color: rgba(0, 0, 0, 0.54);
}
.message-form button {
  flex-shrink: 0;
}
