@use 'config';

* {
  &:focus {
    outline: none;
  }
}

html,
body,
.app {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

body {
  background: config.$background-color;
  color: config.$text-color;
  font-family: 'Noto Sans Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
  display: flex;
  flex-direction: column;
}
