@use 'config';

.joystick {
  align-items: center;
  border-top: 1px solid config.$dividers-color;
  display: none;
  flex-direction: column;
  flex-shrink: 0;
  height: 50%;

  &.visible {
    display: flex;
  }
}

.joystick-area {
  aspect-ratio: 1 / 1;
  background: config.$dividers-color;
  height: 100%;
  margin: 32px;
  position: relative;
  touch-action: none;
}

.joystick-area::before,
.joystick-area::after {
  background: config.$dividers-color;
  content: '';
  position: absolute;
}

.joystick-area::before {
  height: 2px;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  z-index: 1;
}

.joystick-area::after {
  height: 100%;
  left: calc(50% - 1px);
  top: 0;
  width: 2px;
  z-index: 2;
}

.joystick-half-range {
  border: 2px solid config.$dividers-color;
  box-sizing: border-box;
  height: 50%;
  left: 25%;
  position: absolute;
  top: 25%;
  width: 50%;
  z-index: 3;
}

.joystick-handle {
  background: #2196F3;
  border-radius: 50%;
  cursor: pointer;
  height: 64px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  z-index: 4;

  &.moving {
    background: #4CAF50;
  }
}
